<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data science tools eco system

## In this notebook, data science tools and eco system are summarized

**Objectives:**
- List popular languages for Data Science
- List commonly used data science libraries
- Make a table of Data Science tools
- Introduction to arithmetic expression
- Simple arithmetic expression
- Convert hours into minutes

 some of the popular languages that data scientists use are :
1. python
2. javascript
3. SQL
4. r

Some of the commonly used libraries used by Data Scientists include:
1. tenserflow
2. matplotlib
3. numpy
4. pandas

| Data science tools |
----------------------
| R studio |
|Apache spark|
|Apache hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author
Sri hari khara sudan